[data-part='content'] {
  background-color: var(--color-bg);
  padding: 8px;
  border-radius: var(--radius-md);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

[data-part='item'] {
  display: flex;
  padding: 4px 8px;
  border-radius: var(--radius-sm);
}

[data-part='item']:hover,
[data-highlighted] {
  background-color: var(--color-secondary);
}

