[data-scope='select'] {
  user-select: none;
  -webkit-user-select: none;
}

[data-scope='select'][data-part='trigger'][data-state='open'] {
  outline: none;
  border-color: var(--color-primary);
  background-color: var(--color-surface);
}

[data-scope='select'][data-part='trigger'] {
  background-color: var(--color-surface-2);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-size: 0.95rem;
  height: 100%;
  width: 90px;
  transition: border-color var(--transition-fast), background var(--transition-fast);
}

[data-scope='select'][data-part='indicator'] {
  margin-left: auto;
}

[data-scope='select'][data-part='indicator'] svg {
  height: 16px;
}

[data-scope='select'][data-part='item-text'] {
  width: 6rem;
}

