@import url('colors.css');

.sidebar {
  padding: 8px 0;
  width: 160px;
  height: 100vh;
  background-color: var(--black);
  box-sizing: border-box;
}

.sidebar-tab {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 0.3em 0.6em;
  transition: 0.2s;
  vertical-align: middle;
  height: 1.4rem;
  line-height: 1.6rem;
  color: var(--foreground);
  transition: 0.2s;
}

.sidebar-tab:hover,
.sidebar-tab.active {
  cursor: pointer;
  background-color: var(--cyan);
  color: var(--black);
  transition: 0.2s;
}

@media(prefers-color-scheme: light) {
  .sidebar {
    background-color: var(--white);
  }

  .sidebar-tab:hover {
    /* background-color: var(--foreground); */
    color: var(--white);
  }
}
