@import url('./colors.css');

#transaction,
#transaction-edit {
  height: 98vh;
  color: var(--foreground);
  display: flex;
  flex-direction: column;
}

#transaction-edit {
  font-size: 1.2rem;
}

#transaction-edit-form {
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

#form-postings-list {
  flex: 1;
  overflow-y: scroll;
}

#transaction-edit-form .form-row,
.transaction-list-row,
.posting-list-row,
.transaction-list-header {
  display: flex;
  gap: 1rem;
  padding-right: 1rem;
}

.transaction-list-row,
.transaction-list-header {
  font-size: 1.2rem;
  border-radius: 16px;
  padding: 0.5rem;
  margin: 1.0rem 0.5rem 0;
  cursor: pointer;
  background-color: var(--brightblue);
  border: 2px solid transparent;
  transition: border-color 0.25s;
  transition: border-radius 0.3s;
}

.transaction-list-header {
  background-color: var(--background);
  margin: 0 0.5rem;
}

.transaction-list-row:hover {
  border-color: var(--red);
}

.Collapsible__contentInner {
  background-color: var(--brightblue);
  border-radius: 0 0 16px 16px;
  transition: border-radius 0.3s;
  padding: 0.8rem;
  margin: 0 0.5rem;
  border-top: 2px solid var(--blue);
}

.Collapsible__trigger.is-open .transaction-list-row {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.transaction-list-cell {
  height: 1.8rem;
  line-height: 2.1rem;
}

.transaction-list-id {
  width: 4.5rem;
  text-align: right;
}

.transaction-list-date {
  width: 6.2rem;
}

.transaction-list-desc {
  flex: 1;
}

.transaction-list-button {
  align-self: flex-end;
  line-height: 0.8rem;
}

#transaction-edit-form .form-element {
  margin: 0.8rem 0;
  display: flex;
  align-items: center;
}

#transaction-edit-form .form-element label {
  margin-right: 8px;
}

#transaction-edit-form .form-delete {
  width: 40px;
  height: 40px;
  background-color: var(--red);
  border-radius: 4px;
  font-size: 2rem;
  position: relative;
}

#transaction-edit-form .form-delete div {
  position: absolute;
  top: 12px;
  left: 9px;
}

#form-button-row,
#transaction-button-row {
  display: flex;
  justify-content: space-between;
}

#transaction-button-row {
  margin-bottom: 0.6rem;
}

.form-delete:hover {
  cursor: pointer;
}

.form-row .flex1 { flex: 1; }

.form-row .flex2 { flex: 2; }

.form-row .flex3 { flex: 3; }

.form-row .flex4 { flex: 4; }

.form-row .flex1 input,
.form-row .flex2 input,
.form-row .flex3 input,
.form-row .flex4 input { flex: 1; }

